*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#setting{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    padding: 0 0 0 7px;
    line-height: 25px;
    text-align: left;
    position: absolute;
    top: 10px;
    right: 10px;
}
#game-main{
    height: 330px;
    width: 200px;
    /* padding: 3px; */
    border:  1px solid black;
    position: absolute;
    top: 20%;
    left: 40%;
    overflow: hidden;
}
#timeline{
    margin: 3px 1px;
    height: 3px;
    width: auto;
    background-color: rgb(67, 122, 11);
    border-radius: 2px;
    /* position: relative;
     animation: test 10s alternate ; */
}
#score{
    text-align: right;
    padding-right: 10px;
}
#quizz{
    height: 200px;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.answer{
    width: 50px;
    height: 50px;
}
#quizz{
    text-align: center;
    padding-top: 40px;
    line-height: 40px;
    font-weight: 700;
}
#checkbox{
    display: flex;
    justify-content: space-around;
    
}

@keyframes test{
    from {
        right:0px;

    }
    to {
        right:200px;
    }
}